In [1]:
import sqlite3

In [2]:
dg_db = sqlite3.connect('discgolf.db')
c = dg_db.cursor()

In [ ]:
c.execute('''
SELECT * FROM hole;
          ''')

In [ ]:
print(c.fetchall())

# Add round

In [7]:
c.execute('''
INSERT INTO round ('date') VALUES('2020-05-29');
''')
dg_db.commit()

"DROP VIEW "main"."averages";
CREATE VIEW averages AS
SELECT score.courseID, score.holeID, hole.holeNumber, AVG(score.strokes), AVG(score.putts)
FROM score, hole, course
WHERE hole.holeID = score.holeID
GROUP BY score.holeID"

# add scores

In [ ]:
c.execute('''
INSERT INTO score ('courseID','roundID','putts','strokes','holeID') VALUES(1,1,1,3,1),
(1,1,2,4,2),(1,1,1,2,3),(1,1,1,2,4),(1,1,2,5,5),(1,1,2,3,6),(1,1,2,4,7),(1,1,1,2,8),
(1,1,1,2,9),(1,1,2,3,10),(1,1,2,3,11),(1,1,2,4,12),(1,1,1,2,13),(1,1,2,3,14),(1,1,1,2,15),
(1,1,1,2,16),(1,1,1,2,17),(1,1,1,2,18),(1,1,2,3,19),(1,1,2,4,20)
;
''')

In [ ]:
dg_db.commit()

In [6]:
c.execute('''
INSERT INTO score ('courseID','roundID','putts','strokes','holeID') VALUES(1,2,1,2,1),(1,2,2,4,2),
(1,2,2,4,3),(1,2,1,2,4),(1,2,1,2,5),(1,2,2,3,6),(1,2,1,2,7),(1,2,2,4,8),(1,2,2,3,9),(1,2,1,2,10),(1,2,1,2,11),
(1,2,2,3,12),(1,2,2,3,13),(1,2,3,5,14),(1,2,1,2,15),(1,2,1,2,16),(1,2,1,2,17),(1,2,1,4,18),(1,2,1,4,19),(1,2,1,4,20)
;
''')
dg_db.commit()

In [8]:
c.execute('''
INSERT INTO score ('courseID','roundID','putts','strokes','holeID') VALUES(1,3,2,3,1),(1,3,2,3,2),
(1,3,1,3,3),(1,3,2,3,4),(1,3,1,2,5),(1,3,2,4,6),(1,3,1,2,7),(1,3,3,5,8),(1,3,2,3,9),(1,3,1,3,10),(1,3,1,3,11),
(1,3,2,4,12),(1,3,1,2,13),(1,3,1,2,14),(1,3,2,3,15),(1,3,1,2,16),(1,3,1,3,17),(1,3,1,4,18),(1,3,1,3,19),(1,3,2,3,20)
;
''')
dg_db.commit()